*.log
.DS_Store
Thumbs.db

.env
.env.*
auth.json

/node_modules
/vendor


/public/hot
/public/storage

/storage/*.key
/storage/pail

/.idea
/.vscode
/.fleet
/.zed
/.nova

.phpunit.result.cache
.phpactor.json
.phpunit.cache

Homestead.json
Homestead.yaml